body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    
}

.container {
    display: flex;
    gap: 5px;
    transition: all 2s;

}

.container > button {
    text-transform: uppercase;
}
button {
    display: inline-block;
    font-size: 22px;
    border-radius: 11px;
    padding: 1.2rem 2.4rem;

    background-color: bisque;
    color: orangered;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: rgba(255, 68, 0, 0.507);
    color: white;
}

p {
    text-align: center;
}

.scores {
    font-size: 22px;
    font-weight: 700;
}



.log {
    font-size: 22px;
    text-transform: uppercase;
}

